@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
  
  --animate-blob: blob 7s infinite;
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
}

/* Isso avisa ao navegador para pintar a barra de rolagem de escuro */
.dark {
  color-scheme: dark;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-xl;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-800 transition-colors;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-600 rounded-full transition-colors;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-500;
}